<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout-1</title>
  <link rel="stylesheet" href="layout.css">
</head>

<body>
  <div class="center">
    <section class="centering-container center">

      <nav class="stretch">
        <h1>Nav</h1>
        <ul>
          <a href="#">
            <li>Home</li>
          </a>
          <a href="#">
            <li>About</li>
          </a>
          <a href="#">
            <li>Clients</li>
          </a>
          <a href="#">
            <li>Contact us</li>
          </a>
        </ul>
      </nav>

      <article class="stretch">
        <h1>Main Content</h1>
        <h2>I'm first in the source order.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Sapiente veritatis accusantium, commodi modi excepturi labore officia doloribus exercitationem sit quam earum
          impedit placeat, eum officiis magnam deserunt neque obcaecati iusto.
        </p>
        <p>Nihil, illo. Facilis fugiat repellat tempora sed quis, repudiandae reiciendis voluptate tenetur unde
          molestias
          voluptatum nisi dicta odio sequi sunt debitis, saepe sint ut ipsam exercitationem ratione qui? Laborum, alias?
        </p>
        <p>Error molestias iure sunt nobis maxime velit ipsam, quia inventore! Facere facilis id ducimus at sint quas,
          beatae, aspernatur sapiente sequi officia ipsa saepe excepturi deserunt doloremque perspiciatis eque
          voluptate.
        </p>

        <footer>
          <p>Copyright &copy; 2017</p>
        </footer>
      </article>

      <aside class="stretch">
        <h1>Sidebar</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Accusamus quam minima inventore, ducimus, neque laborum deleniti magni explicabo aliquam veniam distinctio
          nobis, rem, quasi magnam.
          Perspiciatis numquam, neque quisquam
          possimus?
        </p>
      </aside>

    </section>
  </div>

</body>

</html>